@charset "UTF-8";
/** 
* 响应式设计：媒体查询
*
* 手机：width < 600px
* 竖屏平板： width < 900px
* 横屏平板： width < 1200px
* normal 电脑： width < 1800px
* 尺寸过大： width > 1800px
*
* 当用户改变浏览器的字体大小时：笔记本默认16px，如果放大为20px
* 网站字体也应该跟着放大
*/
/* 变量定义 */
/* 绿色 */
/* 绿色 */
/* 绿色 */
/* 红色 */
/* 蓝色 */
/* 黄色 */
/* 白色 */
/* 黑色 */
/* 图标线性渐变颜色 */
/* 16px */
/* 数值 */
/* 边距 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /** 
  * 默认情况下 
  * font-size: 100%  为 16px
  * font-size: 62.5% 为 10px，作用是：1rem = 10px
  * 示例：
  *     - padding: 4rem; 即40px
  */
  /* 竖屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 尺寸太大 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 75em) {
  html {
    /* 竖屏平板2：1200px / font-size = 75 */
    /* 如果，用户将浏览器字体大小改变，那么 75em = 75 * 1em */
    /* 1em 为 浏览器字体大小 */
    /* 竖屏平板：width < 1200px */
    /* 竖屏平板：1rem = 9px */
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    /* 横屏平板： width < 900px */
    /* 横屏平板：1rem = 8px */
    font-size: 50%;
  }
}
@media (max-width: 53.125rem) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 37.5em) {
  html {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    /* 手机：width < 600px */
    /* 手机：1rem = 4.8px */
    font-size: 34%;
  }
}
@media (min-width: 112.5em) {
  html {
    /* 大尺寸：1800px / font-size = 112.5em */
    /* 如果，用户将浏览器字体大小改变，那么 112.5em = 112.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    /* 大尺寸：width > 1800 */
    /* 大尺寸：1rem = 12px */
    font-size: 75%;
  }
}

.fixed {
  position: fixed;
}

body {
  color: #777;
  line-height: 1.7;
  box-sizing: border-box;
  padding: 3rem;
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  body {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    padding: 0;
  }
}
body:hover {
  cursor: default;
}

.text-selection::selection {
  color: #f7f7f7;
}
.text-selection--alice::selection {
  background: #ff6b6b;
}
.text-selection--primary::selection {
  background: #55c57a;
}
.text-selection--roxy::selection {
  background: #6a94d4;
}

/* 左侧滑入动画 */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* 右侧滑入动画 */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Button滑入动画 */
@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(2.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.heading-primary--main {
  display: block;
  font-family: "Zen Kurenaido";
  font-size: 8rem;
  font-weight: 400;
  letter-spacing: 6rem;
  /* 动画 */
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  .heading-primary--main {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    letter-spacing: 1rem;
    font-size: 6rem;
  }
}
@media (max-width: 68.75em) {
  .heading-primary--main {
    letter-spacing: 4rem;
  }
}
@media (max-width: 37.5em) {
  .heading-primary--main {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    letter-spacing: 2.5rem;
  }
}
.heading-primary--sub {
  display: block;
  font-family: "Zen Kurenaido";
  font-size: 3rem;
  letter-spacing: 1.5rem;
  margin-bottom: 6rem;
  margin-right: 5rem; /* 不知道为什么没有对齐 */
  /* 动画 */
  animation-name: moveInRight;
  animation-duration: 1s;
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  .heading-primary--sub {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    letter-spacing: 0.4rem;
  }
}
@media (max-width: 68.75em) {
  .heading-primary--sub {
    font-size: 2.8rem;
    letter-spacing: 1rem;
  }
}
@media (max-width: 37.5em) {
  .heading-primary--sub {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    font-size: 2rem;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.3rem;
  letter-spacing: 0.5rem;
  background-image: linear-gradient(to right, #f6c445, #d8434e);
  background-clip: text;
  color: transparent;
  position: relative;
  z-index: 1;
}
.heading-secondary--green {
  background-image: linear-gradient(to right, #7ed56f, #28b485) !important;
}
.heading-secondary:hover {
  cursor: default;
  transition: all 0.2s;
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 1.5rem rgba(0, 0, 0, 0.13);
}
.heading-secondary--large-letter-spacing {
  letter-spacing: 3rem;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.7rem;
}

.paragraphy {
  font-size: 1.6rem;
}
.paragraphy:not(:last-child) {
  margin-bottom: 2rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-med {
  margin-bottom: 4rem;
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 37.5em) {
  .u-margin-bottom-med {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    margin-bottom: 2rem !important;
  }
}

.u-margin-bottom-large {
  margin-bottom: 8rem;
}

.u-margin-bottom-huge {
  margin-bottom: 10rem;
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 37.5em) {
  .u-margin-bottom-huge {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-huge {
  margin-top: 10rem;
  /* 竖屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 75em) {
  .u-margin-top-huge {
    /* 竖屏平板2：1200px / font-size = 75 */
    /* 如果，用户将浏览器字体大小改变，那么 75em = 75 * 1em */
    /* 1em 为 浏览器字体大小 */
    margin-top: 18rem;
  }
}
@media (max-width: 37.5em) {
  .u-margin-top-huge {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    margin-top: 5rem !important;
  }
}

.u-default-letter-spacing {
  letter-spacing: 0.2rem;
}

.u-box-center {
  margin: 0 auto;
}

.bg-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}
.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.btn, .btn:link, .btn:visited {
  border-style: none;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  display: inline-block;
  transition: all 0.2s;
  letter-spacing: 0.2rem;
  position: relative;
}
.btn--white {
  background-color: #fff;
  color: #777;
  font-size: 2rem;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
  font-size: 2rem;
  font-family: "LXGW WenKai Mono TC", serif;
}
.btn--green::after {
  background-color: #55c57a;
}
.btn--blue {
  background-color: #6a94d4;
  color: #fff;
  font-size: 2rem;
  font-family: "LXGW WenKai Mono TC", serif;
}
.btn--blue::after {
  background-color: #6a94d4;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.3);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.btn--animted {
  animation-name: moveInButton;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-delay: 0.55s;
  animation-fill-mode: backwards;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 4px;
  transition: all 0.2s;
}
.btn-text:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.btn-text--alice {
  color: #d8434e;
  border-bottom: 1px solid #d8434e;
}
.btn-text--alice:hover {
  color: #fff;
  background-color: #d8434e;
}
.btn-text--green {
  color: #55c57a;
  border-bottom: 1px solid #55c57a;
}
.btn-text--green:hover {
  padding: 1rem;
  color: #fff;
  background-color: #28b485;
}
.btn-text--Orsted {
  padding: 1rem;
  color: #f6c445;
  border-bottom: 1px solid #ffd700;
}
.btn-text--Orsted:hover {
  color: #fff;
  background-color: #f6c445;
}
.btn-text:link, .btn-text:visited .btn-text--OP-font-size {
  font-size: 2rem;
}

.card {
  /* 图片翻转 */
  width: 100%;
  height: 51rem;
  position: relative;
  perspective: 150rem;
  /* front图片的样式设置 */
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
.card__side {
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  height: 51rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  transition: all 0.8s ease;
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  background-color: green;
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ff6b6b, #ad2a2a);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #6ec1e3, #6b79b3);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  width: 100%;
  height: 23rem;
  background-size: cover;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 37.5em) {
  .card__picture {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    height: 38rem;
  }
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ff6b6b, #ad2a2a), url("../../pic/images/艾莉丝/艾莉丝-2.jpg");
  transform: scaleX(-1); /* 添加镜像翻转 */
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../../pic/images/希露菲-3.jpg");
  transform: scaleX(-1) scale(1.1); /* 添加镜像翻转 */
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #6ec1e3, #6b79b3), url("../../pic/images/洛琪希.jpg");
  transform: scaleX(-1); /* 添加镜像翻转 */
}
.card__heading {
  width: 75%;
  text-align: right;
  font-size: 2.5rem;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 37.5em) {
  .card__heading {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    top: 27rem;
  }
}
.card__heading-span {
  font-family: "LXGW WenKai Mono TC", serif;
  padding: 1rem 1.5rem;
  -webkibox-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 107, 107, 0.85), rgba(173, 42, 42, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(110, 193, 227, 0.85), rgba(107, 121, 179, 0.85));
}
.card__listText {
  padding: 1rem;
}
.card__listText ul {
  list-style-type: none;
  width: 75%;
  text-align: center;
  margin: 0 auto;
}
.card__listText ul li {
  font-size: 1.5rem;
  padding: 1rem;
}
.card__listText ul li:not(:last-child) {
  border-bottom: 0.2rem solid #eee;
}
.card__back-box {
  width: 90%;
  text-align: center;
  font-family: "LXGW WenKai Mono TC", serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__back-content {
  font-size: 2.3rem;
  font-weight: 100;
  letter-spacing: 1.5rem;
  text-align: center;
  color: #fff;
}
.card__back-content::first-line {
  font-size: 3rem;
  line-height: 1.8;
}
.card__action {
  transition: all 0.3s ease-in;
}
.card__action:hover .card__action-text {
  background-clip: text;
  color: transparent;
}
.card__action:hover .card__action-text-1 {
  background-image: linear-gradient(to right, #ff6b6b, #ad2a2a);
}
.card__action:hover .card__action-text-2 {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
}
.card__action:hover .card__action-text-3 {
  background-image: linear-gradient(to right, #8a2be2, #1e90ff);
}
@media (max-width: 56.25em) {
  .card {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    height: auto;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
  }
  .card__side {
    box-shadow: none;
    border-radius: 0;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  .card__side--back {
    transform: rotateY(0deg);
    clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
  }
  .card:hover .card__side--front {
    transform: rotateY(0deg);
  }
  .card__back-box {
    text-align: center;
    width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0);
    padding: 10rem 4rem 5rem 5rem;
  }
  .card__action {
    transition: all 0.3s ease-in;
  }
  .card__action .card__action-text {
    background-clip: text;
    color: transparent;
  }
  .card__action .card__action-text-1 {
    background-image: linear-gradient(to right, #ff6b6b, #ad2a2a);
  }
  .card__action .card__action-text-2 {
    background-image: linear-gradient(to right, #7ed56f, #28b485);
  }
  .card__action .card__action-text-3 {
    background-image: linear-gradient(to right, #8a2be2, #1e90ff);
  }
}

.composition {
  position: relative;
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  .composition {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    margin: 5rem;
  }
}
.composition__photo {
  width: 55%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  .composition__photo {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    float: left;
    position: relative;
    width: 33.33333%;
  }
}
.composition__photo-1 {
  top: -2rem;
  left: 3rem;
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  .composition__photo-1 {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    top: 1rem;
    transform: scale(1.2);
  }
}
.composition__photo-2 {
  top: 6rem;
  left: 25rem;
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  .composition__photo-2 {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    top: -1rem;
    left: 0;
    z-index: 100;
    transform: scale(1.3);
  }
}
.composition__photo-3 {
  top: 14rem;
  left: 5rem;
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  .composition__photo-3 {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    top: 1rem;
    left: 0rem;
    transform: scale(1.2);
  }
}
.composition__photo:hover {
  z-index: 200;
  cursor: pointer;
  transform: scale(1.1) translateY(-0.5rem);
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.3);
  outline: 1rem solid #d8434e;
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 37.5em) {
  .composition__photo:hover {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    transform: scale(1.2) translateY(-0.5rem);
  }
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 37.5em) {
  .composition:hover .composition__photo:not(:hover) {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    transform: scale(1.05);
  }
}

.feature-box {
  font-size: 1.5rem;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  .feature-box {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    width: 60%;
    margin: 0 auto;
  }
}
@media (max-width: 37.5em) {
  .feature-box {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    width: 55%;
    margin: 0 auto;
  }
}
.feature-box__icon {
  font-size: 6rem;
  display: inline-block;
  background-clip: text;
  color: transparent;
  margin-bottom: 1rem;
  background-image: linear-gradient(to bottom, #8a2be2, #1e90ff);
}
.feature-box__text {
  height: 15rem;
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  .feature-box__text {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    padding: 0 10rem;
  }
}
@media (max-width: 37.5em) {
  .feature-box__text {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    padding: 0 4rem;
  }
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
  box-shadow: 0 1rem 2em rgba(0, 0, 0, 0.4);
}

.feedback__bg {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 49.5%, transparent 50%), url("../../pic/images/德路迪亚村-白天.png");
  background-size: cover;
  height: 50rem;
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 37.5em) {
  .feedback__bg {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 100%, transparent 100%), url("../../pic/images/德路迪亚村-白天.png");
  }
}
.feedback__login-box {
  width: 50%;
  padding: 6rem;
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 37.5em) {
  .feedback__login-box {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    width: 100%;
  }
}

.form__group {
  font-size: 1.6rem;
}
.form__input {
  border-style: none;
  width: 90%;
  height: 4rem;
  padding: 1rem;
  font-size: inherit;
  background-color: rgba(255, 255, 255, 0.9) 5;
  display: block;
  border-radius: 2px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border-bottom: 3px solid #28b485;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #d8434e;
}
.form__input:-webkit-autofill {
  background-color: inherit;
}
.form__input:autofill {
  background-color: inherit;
}
.form__input:is(:-webkit-autofill, :autofill) {
  background-color: white !important;
}
.form__label {
  font-size: 1.5rem;
  padding: 1rem;
  display: block;
  transition: all 0.3s;
}
.form__label:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__input:focus + .form__label {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.form__radio-group {
  width: 49%;
  display: inline-block;
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  position: relative;
  padding-left: 4rem;
}
.form__radio-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: inline-block;
  border: 5px solid #55c57a;
  position: absolute;
  left: 0;
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 37.5em) {
  .form__radio-button {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    border-width: 3px;
  }
}
.form__radio-button::after {
  content: "";
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: #55c57a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  .form__radio-button::after {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    width: 1rem;
    height: 1rem;
    border-width: 4px;
  }
}
.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.linear-gradient__text--gold {
  color: #ffd700;
}

.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 6666;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.popup__cover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 8888;
}
.popup__content {
  width: 70%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.5s 0.2s;
  display: table;
  /* 竖屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
.popup__content.scrolling-text {
  width: 80vw;
  height: 80vh;
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 53.125rem) {
  .popup__content.scrolling-text {
    width: 120vw;
    height: 120vh;
  }
}
@media (max-width: 37.5em) {
  .popup__content.scrolling-text {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    width: 80vw;
    height: 80vh;
  }
}
@media (max-width: 75em) {
  .popup__content {
    /* 竖屏平板2：1200px / font-size = 75 */
    /* 如果，用户将浏览器字体大小改变，那么 75em = 75 * 1em */
    /* 1em 为 浏览器字体大小 */
    color: #333;
  }
}
.popup__left {
  width: 33.3333333%;
  display: table-cell;
  /* 竖屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 75em) {
  .popup__left {
    /* 竖屏平板2：1200px / font-size = 75 */
    /* 如果，用户将浏览器字体大小改变，那么 75em = 75 * 1em */
    /* 1em 为 浏览器字体大小 */
    width: 100%;
    display: block;
  }
}
.popup__right {
  width: 66.6666666%;
  display: table-cell;
  vertical-align: middle;
  padding: 2rem 5rem;
  /* 竖屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
.popup__right h2 {
  /* 竖屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 75em) {
  .popup__right h2 {
    /* 竖屏平板2：1200px / font-size = 75 */
    /* 如果，用户将浏览器字体大小改变，那么 75em = 75 * 1em */
    /* 1em 为 浏览器字体大小 */
    font-size: 2.5rem;
  }
}
@media (max-width: 37.5em) {
  .popup__right h2 {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    padding-top: 2rem;
    font-size: 2rem;
  }
}
.popup__right h3 {
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 37.5em) {
  .popup__right h3 {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    padding-top: 2rem;
    font-size: 1.5rem;
  }
}
.popup__right button {
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 37.5em) {
  .popup__right button {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 75em) {
  .popup__right {
    /* 竖屏平板2：1200px / font-size = 75 */
    /* 如果，用户将浏览器字体大小改变，那么 75em = 75 * 1em */
    /* 1em 为 浏览器字体大小 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
.popup__image {
  width: 100%;
  background-size: cover;
  margin: 0;
  display: block;
  /* 竖屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
.popup__image:not(:last-child) {
  transform: scaleX(-1);
}
@media (max-width: 75em) {
  .popup__image {
    /* 竖屏平板2：1200px / font-size = 75 */
    /* 如果，用户将浏览器字体大小改变，那么 75em = 75 * 1em */
    /* 1em 为 浏览器字体大小 */
    opacity: 0.5;
  }
}
.popup__text {
  font-size: 1.4rem;
  column-count: 2;
  column-gap: 3rem;
  column-rule: 2px solid #eee;
  /* 竖屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 75em) {
  .popup__text {
    /* 竖屏平板2：1200px / font-size = 75 */
    /* 如果，用户将浏览器字体大小改变，那么 75em = 75 * 1em */
    /* 1em 为 浏览器字体大小 */
    line-height: 2.5;
    column-count: 3;
  }
}
@media (max-width: 37.5em) {
  .popup__text {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    font-size: 1rem;
    line-height: 2.5;
    column-count: 4;
  }
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  transform: translate(-50%, -50%) scale(1);
  /* 竖屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 75em) {
  .popup:target .popup__content {
    /* 竖屏平板2：1200px / font-size = 75 */
    /* 如果，用户将浏览器字体大小改变，那么 75em = 75 * 1em */
    /* 1em 为 浏览器字体大小 */
    transform: translate(-50%, -50%) scale(0.7);
  }
}
@media (max-width: 68.75em) {
  .popup:target .popup__content {
    transform: translate(-50%, -50%) scale(0.5);
  }
}
@media (max-width: 37.5em) {
  .popup:target .popup__content {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    transform: translate(-50%, -50%) scale(1);
  }
}
.popup__close {
  font-size: 4rem;
  color: #777;
  position: absolute;
  top: -0.5rem;
  right: 1.5rem;
  transition: all 0.2s;
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  .popup__close {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    color: #000;
  }
}
@media (max-width: 37.5em) {
  .popup__close {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    font-size: 4.5rem;
    top: -1.5rem;
    right: 0.4rem;
    color: #000;
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
.popup__close:link, .popup__close:visited {
  list-style: none;
  text-decoration: none;
}
.popup__close:hover {
  color: #55c57a;
}

.scrolling-text {
  object-fit: contain; /* 保证图片完整显示，自动留白 */
}
.scrolling-text__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../pic/images/艾莉丝/艾莉丝-剑之圣地-原图.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  z-index: -1;
}
.scrolling-text__details {
  position: absolute;
  padding: 0.5rem 2rem;
  width: 100%;
  height: 100%;
  overflow: scroll;
  scrollbar-width: none; /* Firefox 隐藏滚动条 */
}
.scrolling-text__paragraph {
  font-size: 2rem;
  color: #f7f7f7;
  letter-spacing: 6px;
  filter: drop-shadow(0 0.5rem 2rem rgba(255, 255, 255, 0.9));
  padding: 0.5rem 1.5rem;
  line-height: 2;
  text-indent: 2em;
}

/* 隐藏关闭按钮 */
.scrolling-text .popup__close {
  visibility: hidden;
}

.story {
  margin: 0 auto;
  padding: 5rem;
  padding-left: 8rem;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-weight: 700;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  font-family: serif;
}

.orsted {
  width: 300px;
  float: right;
  transform: scaleX(-1);
}

.footer {
  font-size: 1.5rem;
  text-align: center;
  color: #eee;
  padding: 10rem 0;
  background-color: #333;
}
.footer__log-box {
  text-align: center;
}
.footer__log {
  width: 20rem;
  height: auto;
}
.footer__navigation {
  border-top: 2px solid #777;
  display: inline-block;
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  .footer__navigation {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    width: 80%;
    margin-bottom: 3rem;
  }
}
.footer__list {
  list-style: none;
  margin-top: 1rem;
}
.footer__item {
  padding: 0 1rem;
  display: inline-block;
  transition: all 0.1s;
}
.footer__item:not(:last-child) {
  margin-right: 2rem;
}
.footer__item:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: scale(1.3) rotate(3deg);
}
.footer__link {
  text-decoration: none;
  color: #eee;
}
.footer__link:hover {
  color: #55c57a;
}
.footer__copyright {
  width: 80%;
  border-top: 2px solid #777;
  display: inline-block;
  padding-top: 1rem;
  text-align: left;
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  .footer__copyright {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    text-align: center;
  }
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row [class^=col-] {
  float: left;
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    margin-bottom: 3rem;
  }
}
@media (max-width: 56.25em) {
  .row [class^=col-] {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    float: none !important;
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 6rem * 2) / 3);
}
.row .col-2-of-3 {
  width: calc((100% - 6rem * 2) / 3 * 2 + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 6rem * 3) / 4);
}
.row .col-2-of-4 {
  width: calc((100% - 6rem * 3) / 4 * 2 + 6rem);
}
.row .col-3-of-4 {
  width: calc((100% - 6rem * 3) / 4 * 3 + 6rem * 2);
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(216, 67, 78, 0.8), rgba(85, 197, 122, 0.8), rgba(107, 121, 179, 0.8)), url("../pic/images/手游视觉.png");
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  /* 竖屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 75em) {
  .header {
    /* 竖屏平板2：1200px / font-size = 75 */
    /* 如果，用户将浏览器字体大小改变，那么 75em = 75 * 1em */
    /* 1em 为 浏览器字体大小 */
    clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
  }
}
@media (max-width: 37.5em) {
  .header {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
  }
}
.header__logo {
  position: absolute;
  top: 4rem;
  left: 4rem;
  height: 11rem;
}
.header__textContainer {
  position: absolute;
  top: 38%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  text-align: center;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  position: fixed;
  top: 6rem;
  right: 6rem;
  background-color: #fff;
  border-radius: 50%;
  z-index: 2000;
  width: 7rem;
  height: 7rem;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  .navigation__button {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    top: 4rem;
    right: 4rem;
  }
}
.navigation__background {
  width: 6rem;
  height: 6rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.85, 0, 0.15, 1);
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  .navigation__background {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    top: 4.5rem;
    right: 4.5rem;
  }
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(68);
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  .navigation__checkbox:checked ~ .navigation__background {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    transform: scale(85);
  }
}
.navigation__nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 100%;
  height: 100vh;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation__checkbox:checked ~ .navigation__nav {
  visibility: visible;
  opacity: 1;
  width: 100%;
}
.navigation__list {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation__item {
  width: 100%;
  text-align: left;
  display: block;
  margin: 2rem;
}
.navigation__link, .navigation__link:link, .navigation__link:active {
  display: inline-block;
  list-style: none;
  color: #fff;
  text-decoration: none;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 50%, white 50%);
  background-size: 230%;
  transition: all 0.5s;
}
.navigation__link span, .navigation__link:link span, .navigation__link:active span {
  margin-right: 2rem;
}
.navigation__link:hover {
  color: #55c57a;
  background-position: 100%;
  transform: translateX(1rem);
}
.navigation__icon {
  display: block;
  width: 3.2rem;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  .navigation__icon {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    height: 1.5px;
  }
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  .navigation__icon::before, .navigation__icon::after {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    height: 1.5px;
  }
}
.navigation__icon::before {
  top: -1rem;
}
.navigation__icon::after {
  top: 1rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1.2rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1.2rem;
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  top: 0;
  left: 0;
  transform: rotate(-135deg);
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  top: 0;
  left: 0;
  transform: rotate(135deg);
}
.navigation__link:target ~ .navigation__background {
  transform: scale(0);
}
.navigation__link:target ~ .navigation__nav {
  opacity: 0;
  width: 0;
}

.section--about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
  /* 竖屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 75em) {
  .section--about {
    /* 竖屏平板2：1200px / font-size = 75 */
    /* 如果，用户将浏览器字体大小改变，那么 75em = 75 * 1em */
    /* 1em 为 浏览器字体大小 */
    margin-top: -16rem;
    padding: 22rem 0;
  }
}
@media (max-width: 37.5em) {
  .section--about {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    margin-top: -15vh;
    padding: 28rem 0;
  }
}
.section--about .paragraphy, .section--about h3 {
  /* 竖屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 75em) {
  .section--about .paragraphy, .section--about h3 {
    /* 竖屏平板2：1200px / font-size = 75 */
    /* 如果，用户将浏览器字体大小改变，那么 75em = 75 * 1em */
    /* 1em 为 浏览器字体大小 */
    padding-left: 3rem;
  }
}
@media (max-width: 37.5em) {
  .section--about .paragraphy, .section--about h3 {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    padding: 0 8rem 0 8rem;
  }
}
.section--about .btn-text {
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  .section--about .btn-text {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    margin-left: 3rem;
  }
}
@media (max-width: 37.5em) {
  .section--about .btn-text {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    margin: 0 8rem 0 8rem;
  }
}

.section--feature {
  padding: 20rem 5rem;
  background-image: linear-gradient(to right bottom, rgba(110, 193, 227, 0.8), rgba(107, 121, 179, 0.8)), url("../../pic/images/魔大陆-夜晚.png");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -9rem;
  /* 竖屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
.section--feature > * {
  transform: skewY(7deg);
}
@media (max-width: 75em) {
  .section--feature {
    /* 竖屏平板2：1200px / font-size = 75 */
    /* 如果，用户将浏览器字体大小改变，那么 75em = 75 * 1em */
    /* 1em 为 浏览器字体大小 */
    padding: 15rem 1rem;
  }
}

.section--detail {
  margin-top: -9rem;
  padding: 25rem 15rem 15rem 15rem;
  background-color: #f7f7f7;
  /* 竖屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
  /* 特殊断点 */
}
.section--detail h2 {
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 37.5em) {
  .section--detail h2 {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    font-size: 2.3rem;
  }
}
@media (max-width: 75em) {
  .section--detail {
    /* 竖屏平板2：1200px / font-size = 75 */
    /* 如果，用户将浏览器字体大小改变，那么 75em = 75 * 1em */
    /* 1em 为 浏览器字体大小 */
    padding: 20rem 1rem 8rem 1rem;
  }
}
@media (max-width: 56.25em) {
  .section--detail {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    padding: 25rem 25rem 15rem 25rem;
  }
}
@media (max-width: 37.5em) {
  .section--detail {
    /* 手机：600px / font-size = 37.5 */
    /* 如果，用户将浏览器字体大小改变，那么 37.5em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    padding: 20rem 13rem 4rem 13rem;
  }
}

.section--stories {
  padding: 15rem 0;
  position: relative;
}

.section__feedback-login {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  /* 横屏平板 */
  /* 特殊断点 */
  /* 特殊断点 */
}
@media (max-width: 56.25em) {
  .section__feedback-login {
    /* 横屏平板：900px / font-size = 56.25 */
    /* 如果，用户将浏览器字体大小改变，那么 56.25em = 37.5 * 1em */
    /* 1em 为 浏览器字体大小 */
    padding: 15rem 5rem;
  }
}

/*# sourceMappingURL=style.css.map */
