/* 变量定义 */
// 主题色: 绿色
$color-primary-green: #55c57a; /* 绿色 */
$color-primary-light: #7ed56f; /* 绿色 */
$color-primary-dark: #28b485; /* 绿色 */

// 艾莉丝主题色系
$color-alice-red: #D8434E; /* 红色 */
$color-alice-light: #FF6B6B;
$color-alice-dark: #AD2A2A;

// 洛琪希主题色系
$color-rokhi-blue: #3B9AB2    ; /* 蓝色 */
$color-rokhi-light: #6EC1E3;
$color-rokhi-dark: #2C5F7A; 

// 鲁迪乌斯主题色系
$color-rudy-yellow: #f6c445;  /* 黄色 */
$color-rudy-light: #FFD700;
$color-rudy-dark: #B8860B;

// 灰色
$color-grey: #f7f7f7;
$color-grey-dark: #777;

$color-white: #fff; /* 白色 */
$color-black: #000; /* 黑色 */

/* 图标线性渐变颜色 */
$color-iconfonts-purple: #8a2be2;
$color-iconfonts-blue: #1e90ff;

// 字体
$default-font-size: 1.6rem; /* 16px */

/* 数值 */
$gird-width: 114rem;
$grid-margin-right: 6rem;
$gird-margin-bottom: 8rem;
