/* 变量定义 */
// 主题色
$color-primary-green: #55c57a; /* 绿色 */
$color-primary-light: #7ed56f; /* 绿色 */
$color-primary-dark: #28b485; /* 绿色 */

// 额外颜色引入
$color-primary-red: #e54b22; /* 红色 */
$color-primary-blue: #abd1ff; /* 蓝色 */
$color-grey-dark: #777; /* 灰色 */
$color-white: #fff; /* 白色 */
$color-black: #000; /* 黑色 */