@use "../abstracts/" as a;

.heading-primary {
  &--main {
    display: block;
    font-family: "Zen Kurenaido";
    font-size: 8rem;
    font-weight: 400;
    letter-spacing: 6rem;

    /* 动画 */
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include a.respond(tab-port) {
      letter-spacing: 1rem;
      font-size: 6rem;
    }

    @include a.respond(1100px) {
      letter-spacing: 4rem;
    }

    @include a.respond(phone) {
      letter-spacing: 2.1rem;
    }
  }

  &--sub {
    display: block;
    font-family: "Zen Kurenaido";
    font-size: 3rem;
    letter-spacing: 1.5rem;
    margin-bottom: 6rem;
    margin-right: 5rem; /* 不知道为什么没有对齐 */

    /* 动画 */
    animation-name: moveInRight;
    animation-duration: 1s;

    @include a.respond(tab-port) {
      letter-spacing: 0.4rem;
    }

    @include a.respond(1100px) {
      font-size: 2.8rem;
      letter-spacing: 1rem;
    }

    @include a.respond(phone) {
      font-size: 2rem;
    }
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.3rem;
  letter-spacing: 0.5rem;
  background-image: linear-gradient(
    to right,
    a.$color-rudy-yellow,
    a.$color-alice-red
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  z-index: 1;

  &--green {
    background-image: linear-gradient(
      to right,
      a.$color-primary-light,
      a.$color-primary-dark
    ) !important;
  }

  &:hover {
    cursor: default;
    transition: all 0.2s;

    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 1.5rem rgba(a.$color-black, $alpha: 0.13);
  }

  &--large-letter-spacing {
    letter-spacing: 3rem;
  }
}

.heading-tertiary {
  font-size: a.$default-font-size;
  font-weight: 700;
  letter-spacing: 0.7rem;
}

.paragraphy {
  font-size: a.$default-font-size;
  line-height: 2;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
