.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-med {
  margin-bottom: 4rem;
}

.u-margin-bottom-large {
  margin-bottom: 8rem;
}

.u-margin-bottom-huge {
  margin-bottom: 10rem;
}

.u-margin-top-huge {
  margin-top: 10rem;
}

.u-default-letter-spacing {
  letter-spacing: 0.2rem;
}

.u-box-center {
  margin: 0 auto;
}
