@use "../abstracts/" as a;

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-med {
  margin-bottom: 4rem;

  @include a.respond(phone) {
    margin-bottom: 2rem !important;
  }
}

.u-margin-bottom-large {
  margin-bottom: 8rem;
}

.u-margin-bottom-huge {
  margin-bottom: 10rem;

  @include a.respond(phone) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-huge {
  margin-top: 10rem;

  @include a.respond(tab-land) {
    margin-top: 18rem;
  }

  @include a.respond(phone) {
    margin-top: 5rem !important;
  }
}

.u-default-letter-spacing {
  letter-spacing: 0.2rem;
}

.u-box-center {
  margin: 0 auto;
}
