@use "../abstracts/" as a;

.section--about {
  background-color: a.$color-grey-light;
  padding: 25rem 0;
  margin-top: -20vh;

  @include a.respond(tab-land) {
    margin-top: -16rem;
    padding: 22rem 0;
  }

  @include a.respond(phone) {
    margin-top: -15vh;
    padding: 28rem 0;
  }

  & .paragraphy,
  & h3 {
    @include a.respond(tab-land) {
      padding-left: 3rem;
    }

    @include a.respond(phone) {
      padding: 0 8rem 0 8rem;
    }
  }

  & .btn-text {
    @include a.respond(tab-port) {
      margin-left: 3rem;
    }

    @include a.respond(phone) {
      margin: 0 8rem 0 8rem;
    }
  }
}

.section--feature {
  padding: 20rem 5rem;
  background-image: linear-gradient(
      to right bottom,
      rgb(a.$color-rokhi-light, 0.8),
      rgb(a.$color-rokhi-dark, 0.8)
    ),
    url("../../pic/images/魔大陆-夜晚.png");
  background-size: cover;
  transform: skewY(-7deg);

  margin-top: -9rem;

  > * {
    transform: skewY(7deg);
  }

  @include a.respond(tab-land) {
    padding: 15rem 1rem;
  }
}

.section--detail {
  margin-top: -9rem;
  padding: 25rem 15rem 15rem 15rem;
  background-color: a.$color-grey-light;

  & h2 {
    @include a.respond(phone) {
      font-size: 2.3rem;
    }
  }

  @include a.respond(tab-land) {
    padding: 20rem 1rem 8rem 1rem;
  }

  @include a.respond(tab-port) {
    padding: 25rem 25rem 15rem 25rem;
  }

  @include a.respond(phone) {
    padding: 20rem 13rem 4rem 13rem;
  }
}

.section--stories {
  padding: 15rem 0;
  position: relative;
}

.section__feedback-login {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    a.$color-primary-light,
    a.$color-primary-dark
  );

  @include a.respond(tab-port) {
    padding: 15rem 5rem;
  }
}
